.top-line{
height:6px;
width:60px;
background:#3f5efb;
margin-bottom:15px;
border-radius:3px;
}

body{
background: linear-gradient(135deg,#3f5efb,#5f7cff);
font-family: Arial, sans-serif;
padding:50px;
}

form{
background:white;
width:500px;
margin:auto;
padding:40px;
border-radius:20px;
}

h1{
margin-bottom:5px;
}

p{
color:gray;
margin-bottom:30px;
}

label{
display:block;
margin-top:15px;
margin-bottom:5px;
}

input, select, textarea{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#f1f2f6;
}

textarea{
height:100px;
}

input[type="submit"]{
background:#3f5efb;
color:white;
margin-top:20px;
cursor:pointer;
}