.footer{
    margin: 20px;
    border-radius: 10px;
    background-color: #f5dede;
    padding: 40px 0;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* TEXT */

.footer-text h2{
    margin: 0;
}

.footer-text p{
    margin-top: 5px;
}

/* FORM */

.contact-form{
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-form input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 220px;
}

.contact-form button{
    background-color: #ff2c7a;
    color: white;

    border: none;
    padding: 8px 16px;

    border-radius: 4px;
    cursor: pointer;
}